body.dark-mode {
    background-color: #222222;
    color: #eee;
}

body.dark-mode a {
    color: #111;
}

body.light-mode {
    background-color: #eee;
    color: #111;
}

body.light-mode a {
    color: #111;
}

body p#demo {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 160px;
    margin-top: 0px;
}