body *,
*:before,
*:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /*transition*/
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -o-transition: .25s ease-in-out;
   transition: .25s ease-in-out;
   outline: none;
   font-family: Helvetica Neue, helvetica, arial, verdana, sans-serif;
}


#toggles {
   width: 60px;
   margin: 50px auto;
   text-align: center;
}

.ios-toggle,
.ios-toggle:active {
   position: absolute;
   top: -5000px;
   height: 0;
   width: 0;
   opacity: 0;
   border: none;
   outline: none;
}

#toggles .checkbox-label {
   display: block;
   position: relative;
   padding: 10px;
   margin-bottom: 20px;
   font-size: 12px;
   line-height: 16px;
   width: 100%;
   height: 36px;
   /*border-radius*/
   -webkit-border-radius: 18px;
   -moz-border-radius: 18px;
   border-radius: 18px;
   background: lightgreen;
   cursor: pointer;
}

.checkbox-label:before {
   content: '';
   display: block;
   position: absolute;
   z-index: 1;
   line-height: 34px;
   text-indent: 40px;
   height: 36px;
   width: 36px;
   /*border-radius*/
   -webkit-border-radius: 100%;
   -moz-border-radius: 100%;
   border-radius: 100%;
   top: 0px;
   left: 0px;
   right: auto;
   background: white;
   /*box-shadow*/
   -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px lightgreen;
   -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px lightgreen;
   box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px lightgreen;
}

.checkbox-label:after {
   content: attr(data-off);
   display: block;
   position: absolute;
   z-index: 0;
   top: 0;
   left: -300px;
   padding: 10px;
   height: 100%;
   width: 300px;
   text-align: right;
   color: lightgreen;
   white-space: nowrap;
}

.ios-toggle:checked+.checkbox-label {
   /*box-shadow*/
   -webkit-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
   -moz-box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
   box-shadow: inset 0 0 0 20px rgba(19, 191, 17, 1), 0 0 0 2px rgba(19, 191, 17, 1);
}

.ios-toggle:checked+.checkbox-label:before {
   left: calc(100% - 36px);
   /*box-shadow*/
   -webkit-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
   -moz-box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
   box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, .3);
}

.ios-toggle:checked+.checkbox-label:after {
   content: attr(data-on);
   left: 60px;
   width: 36px;
}

/* BLUE CHECKBOX */

#checkbox3+.checkbox-label {
   /*box-shadow*/
   -webkit-box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
   -moz-box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
   box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
}

#checkbox3:checked+.checkbox-label {
   /*box-shadow*/
   -webkit-box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
   -moz-box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
   box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
}

#checkbox3:checked+.checkbox-label:after {
   color: #1fc1c8;
}

#themeSwitch:checked+.checkbox-label:after {
   color: #1fc1c8;
}

#themeSwitch+.checkbox-label {
   /*box-shadow*/
   -webkit-box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
   -moz-box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
   box-shadow: inset 0 0 0 0px #1fc1c8, 0 0 0 2px lightgreen;
}

#themeSwitch:checked+.checkbox-label {
   /*box-shadow*/
   -webkit-box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
   -moz-box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
   box-shadow: inset 0 0 0 20px #1fc1c8, 0 0 0 2px #1fc1c8;
}

#settings {
   width: 100vw;
   max-width: 100%;
   text-align: center;
}

/*
label {
}
*/
:root,
[data-theme="dark"] {
   --color: hsl(0, 0%, 100%);
   --color-bg: hsl(240, 8%, 12%);
   --playground-color: #25272a;
   --player-color: #fff;
   --secondary: #353c45;


}

:root,
[data-theme="default"] {
   --color-bg: hsl(0, 0%, 100%);
   --color: hsl(240, 8%, 12%);
   --playground-color: #e3e6ea;
   --player-color: #000;
   --secondary: #f8f8f8;

}

[data-theme] {
   background-color: var(--color-bg) !important;
   color: var(--color) !important;

}

nav {
   position: absolute !important;
   top: 0% !important;
   left: 0% !important;
   background: var(--secondary) !important;
}

nav li a {
   color: var(--color) !important;
}

label {
   font-size: 5rem;
}