@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');



:root,
[data-theme="dark"] {
    --color: hsl(0, 0%, 100%);
    --color-bg: hsl(240, 8%, 12%);
    --playground-color: #25272a;
    --player-color: #fff;
    --secondary: #353c45;


}

:root,
[data-theme="default"] {
    --color-bg: hsl(0, 0%, 100%);
    --color: hsl(240, 8%, 12%);
    --playground-color: #e3e6ea;
    --player-color: #000;
    --secondary: #f8f8f8;

}

[data-theme] {
    background-color: var(--color-bg) !important;
    color: var(--color) !important;

}

nav {
    position: absolute !important;
    top: 0% !important;
    left: 0% !important;
    background: var(--secondary) !important;
}

nav li a {
    color: var(--color) !important;
}

.active {
    color: var(--color-bg) !important;
}

/* Modal Content */

.modal-content {
    background-color: var(--playground-color);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


#alerted:visited {
    display: none;
}

h1 {
    padding-top: 50px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 40px;
}

#playground {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: var(--playground-color);
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.hrac {
    background: var(--player-color);
    left: 285px;
    top: 285px;
    position: absolute;
    width: 30px;
    height: 30px;
}

.rndbod {
    background: #008000;
    left: 0;
    top: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.score {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 1.5em;
}

.enemy {
    background: #f00;
    left: 94%;
    top: 94%;
    position: absolute;
    width: 30px;
    height: 30px;
}

.enemysecond {
    background: #f00;
    left: 1%;
    top: 1%;
    position: absolute;
    width: 30px;
    height: 30px;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#gamefield {
    display: block;
}

* {
    box-sizing: border-box;
}

#gmvrmsg {
    font-family: 'Montserrat', sans-serif;
}

body {
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    cursor: pointer;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    transform: skewX(15deg);
}

span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}


/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}


/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #fbc638;
    }

    100% {
        fill: white;
    }
}

#pageBeginCountdown {
    background-color: #f0f0f0;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}


/* Skore Popup (Modal) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}




#modaltext {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 20px;
}